
/*================================ Index CSS goes here ===============================*/
h1 {
	font-family:Arial, sans-serif;
	font-size:1.6em;	
	text-align: center;
	color:white;
	background-color:#9B9EB3;
}
#indexP1 {
	font-family:Arial, sans-serif;
	font-size:0.9em;
	font-weight:bold;	
	text-align:left;
	text-indent:10%;
	color:black;
}
#indexH2 {
	font-family:Arial, sans-serif;
	font-size:1.1em;	
	text-align: left;
	color:#9B9EB3;
	margin-top:7%;
	margin-left:10%;
}
#indexButton {
	margin-left:10%;	
	text-align:center;
	color:blue;	
	font-family:Arial, sans-serif;
}
/*==============================additem.html Css goes here=============================*/
#clearInput {
	position:relative;
	font-family:Arial, sans-serif;
	font-size:0.900em;
}
#displayData {
	float:right;
	font-family:Arial, sans-serif;
	font-size:0.900em;
}
legend {
	font-family:Arial, sans-serif;
	font-size:0.900em;
	font-style:italic;
}
li {
	list-style-type: none;
	font-family:Arial, sans-serif;
	font-size:0.900em;
}
#mediaTypeId {
	margin-left: 40px;
	font-family:Arial, sans-serif;
	font-size:0.900em;
	font-weight:bold;
}
#mediaType {
	margin-left: 45px;
	margin-bottom:10px;	
}
#nameItem {
	display:block;
	margin-bottom:15px;
}
#genreItem {
	display:block;
	margin-bottom:15px;
}
#pubDate {
	display:block;
	margin-bottom:15px;	
}	
#lengthItem {
	display:block;
	margin-bottom:15px;	
}
#purchaseDate {
	display:block;
	margin-bottom:15px;	
}
#favCheckLabel {
	margin-left:40px;
	font-family:Arial, sans-serif;
	font-size:0.900em;
}
#slider {
	margin-left: 15px;
	margin-top:15px;
	margin-bottom:25px;	
}
#notes {
	display:block;	
}
#submitButton {
	margin-top: 15px;	
}
	
	